/*HOJA DE ESTILO DEL INICIO*/
*{
    padding: 0;
    margin: 0;

}
.flexcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
#fondo{
    background-image: url(../img/Cabaña_frente.jpeg);
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    margin: auto;
    box-shadow: 5px 8px 12px black;
    border-radius: 15px;
    margin-top: 20px;
}
h1{
    font-family: 'Rancho', cursive;
    color: white;
    font-size: 2rem;
}
#fondo h2{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center; 
    background-color:rgb(0, 0, 0, 0.438);
    padding: 1rem;
    border-radius: 17px;
    
}
#fondo p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color:rgb(0, 0, 0, 0.438);
    padding: 1rem;

}
.head{
    position: fixed;
    width: 100%;
    color: #ffffff;
    z-index: 10;
}
.head a{
    text-decoration: none;
}
main{
    padding: 4rem;
}
body{
    font-family:'Times New Roman', Times, serif;
    background: #ffffff;
}
.menu{
    list-style: none;
    padding: 0; 
    background:#50525377;
    width: 90%;
    margin: auto;
    text-align: center;
    box-shadow: 5px 8px 12px black;
    margin-top: 20px;
}
.menu li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    display: block;
    border-radius: 40%;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background: black
}
h1{
    text-align: center;
}
header{
    background-color:rgb(49, 51, 48);
    text-align:end;
    font-size: 1.5rem;
    padding-right: 20px;
}
.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 0.9fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "titulo titulo"
      "parrafo1 img1"
      "img2 parrafo2";
  }
  
  .titulo { grid-area: titulo; 
    text-align: center;
    margin-top: 30px;
    font-size: 26px;
    color: rgb(255, 255, 255);
    background-color: #31384a45;
  }
  .parrafo1 { grid-area: parrafo1; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #31384a61;
    color: #ffffff;
    z-index: 8;
    height: 350px;
    }
  
  .img1 { grid-area: img1; }
  
  .img2 { grid-area: img2; }
  #img1, #img2{
    border-radius: 5%;
    width: 450px;
    height: 350px;
    margin: 30px;
    box-shadow: 5px 8px 12px black;
    transition: 0.5s;
    object-fit: cover;
}
#img1:hover, #img2:hover{
    transform: scale(1.1);
}  
  .parrafo2 { grid-area: parrafo2; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #31384a61;
    color: #ffffff;
}
  
.end{
    background-color: rgb(49, 51, 48);
}
.end a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4rem;
    margin-right: 20px;
}
.end ul{
    text-align: right;
    margin-right: auto;
    margin-left: auto;
}
.end li{
    list-style: none;
    margin-right: auto;
    margin-left: auto;
}
.end strong{
    color: #ffffff;
    font-size: 1.4rem;
    margin-right: 20px;
}
.end p{
    font-size: 1.3rem;
    color: #ffffff;
    margin-left: 30px;
}
footer img:hover, header img:hover{
    transform: scale(1.1);
}
/*HOJA DE ESTILO PAGINA GALERIA*/
#galeria{
    margin-top: 30px;
}
#galeria{
    background-color: #31384a77;
    color: #ffffff;
    margin-top: 100px;
    text-align: center;
}
h3{
    margin-top: 50px;
    color: #ffffff;
    font-size: 20px;
}
.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.galeria img{
    width: 250px;
    height: 150px;
    border: 2px double rgb(255, 255, 255);
}
.galeria img:hover{
    opacity: 1;
    border: solid rgb(0, 0, 0)
}
/*HOJA DE ESTILO PAGINA CONTACTO*/
main{
    background: url(../img/rio-mina-clavero.webp);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}
form{
    width: 450px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 30px;
    border-radius: 7px;
    font-family: monospace;
    color: #ffffff;
    font-size: 17px;
}
.h2-contacto{
    color: #ffffff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton-form{
    background: #31384A;
    color: #ffffff;
    padding: 20px;   
}
#boton-form:hover {
    background-color: #7b7d8077;
    cursor: pointer;
}
/*HOJA DE ESTILO PAGINA RUTA*/
.ruta{
    margin-top: 50px;
    color: #ffffff;
    font-size: 1.5rem;
}
.ruta p{
    color: #ffffff;
    font-size: 1.1rem; 
    margin-top: 20px;
    background-color: #31384a61;
}
.colum{
    margin-top: 10px;
    text-align: center;
}
/*HOJA DE ESTILO TURISMO*/
.turismo{
    margin-top: 50px;
    color: #ffffff;
    font-size: 1.5rem;
}
.pturismo{
    color: white;
    margin-top: 50px;
    font-size: 20px;
    background-color: #31384a61;
}
.tarjeta{
    margin: 10px 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(133, 135, 136), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    width: 350px;
}
.tarjeta img{
    width: 100%;
    height: 250px;
}
.tarjeta:hover{
    border: 1px solid rgb(0, 0, 0);
    transform: rotate(-3deg);
}
.pie{
    text-align: center;
    text-shadow: 2px 2px 5px rgb(235, 200, 235);
    padding: 10px;
}
/*HOJA DE ESTILO OPINIONES*/
.opiniones .caja-contenedor .caja{
    background-color: #31384a77;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    border: 1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    flex: 1 1 30rem;
}
.opiniones .caja-contenedor .caja .stars .p{
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 8rem;
    color: var(--limon);
    opacity: .3;
}
.opiniones .caja-contenedor .caja .user{
    border-radius: 50%;
}
